body{
    background-image: url(img/world.jpeg);
    background-size: cover;

}

.presentacion{
    color: aliceblue;
    text-align: center;
    margin-left: 68%;
    margin-top: 10%;
    font-size: xx-large;
}

.nav-link:hover {
    border-bottom: 3px solid #691313;
    
  }

  .caja {
    margin-bottom: 10px;
    width: 100%;
}
.card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    /* Inicialmente oculta */
    opacity: 0;
    transform: translateX(100%);
    /* Aplicar la animación */
    animation: aparecer 1s forwards;
    width: 70%;
    margin-left: 20%;
    margin-top: 10%;
    
   
}
.btn {
    margin-top: 10px;
}
@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.nav-link{
    color: aliceblue;
}

.nav-item{
    color: aliceblue;
}

.fondoDistancia{
    background-image: url(img/distance.jpeg);
    background-size: cover;
    margin-bottom: 40%;
}

.fondoMetro{
    background-image: url(img/long.jpeg);
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center; /* Centra la imagen */
    margin-bottom: 45%;
   
}

.fondoTemp{
    background-image: url(img/heat.jpeg);
    background-size: cover;
}

.cantidad{
    border-radius: 20px;
    
}

/*.todo{
    text-align: center;
    margin-top: 5%;
    background-color: antiquewhite;
    width: 20%;
    margin-left: 38%;
    padding: 40px;
    border-radius: 20px;
}


/* Define la animación de opacidad y desplazamiento */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px); /* Comienza fuera de la pantalla a la izquierda */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Termina en su posición original */
    }
}

/* Aplica la animación a la clase .bmi */
.bmi {
    opacity: 0; /* Comienza con opacidad 0 */
    transform: translateX(-100px); /* Comienza fuera de la pantalla a la izquierda */
    animation: fadeInLeft 2s forwards; /* La animación dura 2 segundos */
}


.hidden {
    opacity: 0;
    transform: translateX(-100px); /* Mantiene la posición fuera de la pantalla a la izquierda */
}

.bmi:not(.hidden) {
    animation: fadeInLeft 2s forwards;
}


.fondoPeso{
    background-image: url(img/piedra.jpeg);
    background-size: cover;
}

.navbar-toggler{
    color: brown;
    background-color: brown;
}

.fondoLitro{
    background-image: url(img/agua.jpeg);
    background-size: cover;
}

.fondoBmi{
    background-image: url(img/bascula.jpeg);
    background-size: cover;
}


.bmi{
    align-items: center;
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 10%;
}

.volume{
    margin-left: -5%;
    border-radius: 5px;
}

.caja{
    border-radius: 5px;
}
    
    
@media screen and ( max-width: 275px){

    .presentacion{
        text-align:start;
        font-size: larger;
        margin-left: 5%;
        margin-top: 110%;
    }
    body{
        background-image: url(img/world.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
        
        
    
    }
    
    #cantidad{
        border-radius: 20px;
        width: 20px;
        margin-left: 5px;
        
    }
    
    .card {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 20px;
        /* Inicialmente oculta */
        opacity: 0;
        transform: translateX(100%);
        /* Aplicar la animación */
        animation: aparecer 1s forwards;
        width: 80%;
        margin-left: 20%;
        margin-top: 10%;
        
       
    }
    .btn {
        margin-top: 10px;
    }
    
    
    .bmi{
        
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
        width: 90%;
    }
    
    
    
    .reco{
        font-size: x-small;
        align-items: center;
        width: 50%;
    }
    
    }


@media screen and ( max-width: 375px){

.presentacion{
    text-align:start;
    font-size: larger;
    margin-left: 5%;
    margin-top: 110%;
}
body{
    background-image: url(img/world.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    
    

}

#cantidad{
    border-radius: 5px;
    width:100%;
    
    
}

.card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    /* Inicialmente oculta */
    opacity: 0;
    transform: translateX(100%);
    /* Aplicar la animación */
    animation: aparecer 1s forwards;
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    
   
}
.btn {
    margin-top: 10px;
}


.bmi{
    
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    width: 90%;
}



.reco{
    font-size: x-small;
    align-items: center;
    width: 50%;
}

}


@media screen and (max-width: 500px){

    .presentacion{
        text-align:start;
        font-size: larger;
        margin-left: 5%;
        margin-top: 110%;
    }
    body{
        background-image: url(img/world.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
        
        
    
    }
    .bmi{
        
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
        width: 90%;
    }
    

    .reco{
        font-size: x-small;
        align-items: center;
        width: 50%;
    }
    
    }

    .card {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 20px;
        /* Inicialmente oculta */
        opacity: 0;
        transform: translateX(100%);
        /* Aplicar la animación */
        animation: aparecer 1s forwards;
        width: 60%;
        margin-left: 20%;
        margin-top: 10%;
        
       
    }

    @media screen and (max-width: 1100px){

        .presentacion{
            text-align:start;
            font-size: larger;
            margin-left: 5%;
            margin-top: 110%;
        }
        body{
            background-image: url(img/world.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: black;
            
            
        
        }
        .bmi{
            
            margin-top: 5%;
            margin-left: 5%;
            margin-bottom: 10%;
            width: 90%;
        }
        

        
        .reco{
            font-size: x-small;
            align-items: center;
            width: 50%;
        }
        
        }